.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.root > section > * {
  margin-top: 15px;
}

.root .upload {
  
}

.root .db {
  margin-top: 80px;
}